body {
  margin: 0;
  padding: 0;
  background-color: #ffe4ec; /* light pink */
}

body, html, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}